.nav{
	display:inline-block;
	margin-top: 5px;
	}
.nav ul{
	padding-left: 600px;
}
.nav ul li{

	text-decoration-color: grey;
	padding-left: 20px;
	margin-left: 10px;
}
.nav button{
	border-style: none;
	font-weight: bold;
	color: white;
	background-color: #3BEABB;
	text-align: center;
	margin-left: 50px;
	border-radius: 12px;
	padding-left: 30px;
	padding-right: 30px;
}

.hero{width: 100%;
	margin-top: 15px;
	background-image: url("stay.jpg");
  background-repeat: no-repeat;
  position: relative;

}


.hero-text {
	
  text-align: center;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);

  color: black;
  position: absolute;
}

.email{
	border-style: none;
	border-top-left-radius: 25px; 
	border-bottom-left-radius: 25px;
	height: 50px;
	width: 400px;
	}

.stayupdated{
	border-style: none;
	margin-left: -25px;
	border-radius: 25px;
	height: 50px;
	padding: 0px 50px 0px 50px; 
	color: white;
	background-color: #3BEABB;
	font-weight: bold;
	
}

.blog img{
	max-width: 100%;
}

.Features i{
   font-size: 40px;
   color: #0ADEBA;
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.Features h4{

	text-align: center;
	margin-top: 30px;

}

h3:after{
	width: 100px;
	height: 2px;
	background-color: #0ADEBA;
	display: block;
	content: "";
	margin: 0 auto;
	margin-top: 30px;

}
h5:after {
	width: 100px;
	height: 2px;
	background-color: #0ADEBA;
	display: block;
	content: "";
	margin-top: 30px;


}

.stay_btn{
	cursor: pointer;
	border-style: none;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 25px;
	height: 40px;
	padding: 0px 40px 0px 40px; 
	background-color: #3BEABB;
	color: white;
}


.testimonials{
	
	
	margin-top: 30px;
	padding-top: 80px;
	padding-bottom: 60px;
	
	


}


.arrowdown{
margin-top: -16px;
margin-left: 80px;
width: 0;
height: 0;
border-top: 10px solid  #EFECE6;
border-left: 10px solid transparent; 
border-right: 10px solid transparent; 
}

.arrowleft{
margin-left: 80px;
width: 0;
height: 0;
border-top: 10px solid  transparent;
border-right: 10px solid white; 
border-bottom: 10px solid transparent;
}


.testimonials p{
	padding: 25px 10px 15px 10px;
	
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 300px;
	background-color: #EFECE6;
	color: black;
	line-height: 25px;
	margin-top: 50px;


}

.testimonials cite img {
	margin-top: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: auto;
	margin-left: 65px;

}

.pagination {
    display: inline-block;
}

.pagination a {
	border-radius: 10px;
    color: black;
    float: left;
    padding: 8px 16px;
    margin-left: 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}


.pagination a:hover:not(.active) {
	background-color: grey;
}

.subs{
	border-style: none;
	margin-left: -25px;
	border-radius: 25px;
	height: 40px;
	padding: 0px 25px 0px 25px; 
	color: white;
	background-color: #3BEABB;
	font-weight: bold;
	
}

/*for social links*/


.wrapper ul{
	margin-left: 20px;
	list-style: none;
}

.wrapper ul li{
	width: 45px;
	height: 45px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 3px solid #fff;
	float: left;
	transition: all 0.2s ease;
}

.wrapper ul li .fa{
	font-size: 24px;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	
	margin-top: 7px;

}
.wrapper ul li:hover:nth-child(1){
	border: 3px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.1s ease;
}

.wrapper ul li:hover .fa-facebook{
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.1s ease;
}

.wrapper ul li:hover:nth-child(2){
	border: 3px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.1s ease;
}

.wrapper ul li:hover .fa-twitter{
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.1s ease;
}

.wrapper ul li:hover:nth-child(3){
	border: 3px solid #dd4b39;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.1s ease;
}

.wrapper ul li:hover .fa-google{
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all 0.1s ease;
}
.wrapper ul li:hover:nth-child(4){
	border: 3px solid #588EFA;
	box-shadow: 0 0 15px #588EFA;
	transition: all 0.1s ease;
}

.wrapper ul li:hover .fa-linkedin{
	color: #588EFA;
	text-shadow: 0 0 15px #588EFA;
	transition: all 0.1s ease;
}

.holder { 

	margin-top: 50px;
  background-color: grey;
  width:300px;
  height:300px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}

.holder h6{
	font-weight: bold;
	color: white;
	margin-top: 50px;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:300px;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:lightblue;
  text-decoration:none;
}

 /*for about exams section left panel dropdown OR sidenav*/

 .sidebar{ width:220px;  background-color:white; transition: all 0.5s  ease-in-out; }

.bg-defoult{background-color:white;}

.sidebar ul{ list-style:none; margin:0px; padding:0px; }

.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color: black;border-left:0px solid #dedede;  text-decoration:none}

.sidebar li a.active{background-color:white;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}

.sidebar li a:hover{background-color:white !important;}

.sidebar li a i{ padding-right:5px;}

.sidebar ul li .sub-menu li a{ position:relative}

.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    /*for black side bar on the line*/
    min-height: 40px;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
	.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
	

	.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 42px;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}


.dropbtn {
	font-weight: bold;
	text-align: left;
	margin-left: 30px;
	border-style: none;
	width: 400px;
    background-color: #EFECE6;
    color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #F4E5F9;
}

.dropdown {
	width: 400px;
	margin-left: 30px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
	margin-left: 30px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 400px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {

	text-decoration: none;
	background-color: #ddd}

.show {display:block;}
